{# @var ads \AppBundle\Tools\Advertisement\ContentInjectContainer #}
{# @var contentSupply \AppBundle\Tools\Supply\Content #}

{% set useAds = 0 %}
{% if ads is defined %}
    {% set useAds = 1 %}
{% endif %}
    {% set counter = 0 %}
    {% for ct in contentSupply.relatedContentEntities %}
        {# var ct Content #}
        {% set counter = counter + 1 %}
        {% if useAds and ads.length and ads.AdPosition( counter ) %}
            <div class="col-lg-3 col-md-3 col-sm-4 col-12 mb-2 px-1 adPlug noGrayScale">
                <a href="{{ ads.link }}" title="{{ ads.title }}" target="_blank" rel="external">
                    <div><div class="badgeTop px-1"><span>{{ ads.DomainURL }}</span></div></div>
                    <img class="img-fluid img-thumbnail grid-item-thumb" alt="{{ ads.title }}"
                         src="/{{ pathImageSmall }}/{{ ads.thumb }}"/>
                </a>
            </div>
            {{ ads.delete }}
        {% else %}
            <div id="e_{{ ct.basedID }}" class="col-lg-2 col-md-4 col-sm-6 col-6 mb-2 px-1 px-sm-1 px-md-1 px-lg-1 relatedCapsule">
                <a href="{{ ct.fullURL is defined ? ct.fullURL : '' }}" title="{{ct.title}}">
                    {{ ct.image ? '' : ''}}
                    {{ ct.video ? '<div><div class="badgeMedia px-2 py-1">Video</div></div>' : ''}}
                    {{ ct.gif ? '<div><div class="badgeMedia px-2 py-1">GIF</div></div>' : ''}}
                    {{ ct.collection ? '<div><div class="badgeMedia px-2 py-1">Gallery</div></div>' : ''}}
                    <img class="img-fluid img-thumbnail grid-item-thumb lazyload" src="data:image/jpeg;base64,/9j/4AAQSkZJRgABAQEASABIAAD/2wBDAAEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQH/2wBDAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQH/wAARCAAPAA8DASIAAhEBAxEB/8QAFgABAQEAAAAAAAAAAAAAAAAACAUJ/8QAIxAAAQQCAQQDAQAAAAAAAAAAAQIDBAUGERIABwgTFCExQf/EABQBAQAAAAAAAAAAAAAAAAAAAAf/xAAhEQACAgICAQUAAAAAAAAAAAABAgMEESEFEjEABhMiMv/aAAwDAQACEQMRAD8Ao95fKix7deROLUCrKP8AHfsg0tpxSSJcia82ZDilAHZZ9iiTvZ1re/rpdNZ5WtZ1nVMq4VKW7Kq7qGyhhYhzo1hAQ8ZkZwgcVsqUpp0AkLP3+66wgxp+hk2ncDMc0cmX1z2hKWIC7D2TnX0+8KMgvLJCn0hSRzUrkQAP4elhivkfXQ8chZ/lTEuPMvXBAr2W21SvjwojJS00TH5hO2khRAIAJ4/o6LxSW5yzXYo5YihZftJ5WJEjKdMYKhic+d7GNenCxcHBey04u01e6bDiRFSL8NYdpln+TZV+ijpjGmKnIAz/AP/Z"
                         data-src="/{{ pathImageSmall }}/{{ ct.imagePath is defined ? ct.imagePath : '' }}"  alt="{{ct.title}}"/>
                    <span class="grid-media-title mx-1 py-2 px-3">{{ ct.title }}</span>
                </a>
            </div>
        {% endif %}
    {% endfor %}
