{% set counter = 0 %}
{% for ct in content.relatedContentEntities(app.request.get('page',1)) %}
    {% set counter = counter + 1 %}
    {% set mixer = 4 + (counter % 7) %}
    {% set mixer2 = 21 + (counter % 23) %}
    {% set mod13 = counter % 13 %}

    {% if mod13 > 0 and mod13 < 10 %}
        {% if counter == 1 %}
        <div class="row">
        {% endif %}
        {% if (mod13 + 2) % 3 == 0 %}
            <div class="col-4">
                <div class="row">
        {% endif %}
        {% if mod13 == 3 or mod13 == 4 or mod13 == 9 %}
            <div id="e_{{ ct.basedID }}" class="col-12 {{ mixer % 5 == 0 or mixer2 % 5 == 0 ? 'noGrayScale' : '' }} mb-2 px-1 px-sm-1 px-md-1 px-lg-1">
        {% else %}
            <div id="e_{{ ct.basedID }}" class="col-lg-6 col-12 {{ mixer % 5 == 0 or mixer2 % 5 == 0 ? 'noGrayScale' : '' }} mb-2 px-1 px-sm-1 px-md-1 px-lg-1">
        {% endif %}
                <a href="{{ ct.fullURL is defined ? ct.fullURL : '' }}">
                    <img class="img-fluid img-thumbnail grid-item-thumb" src="/img/t/{{ ct.imagePath is defined ? ct.imagePath : ''}}" />
                </a>
            </div>
        {% if mod13 % 3 == 0 %}
                </div>
            </div>
        {% endif %}
    {% else %}
        {% if mod13 == 10 %}
        </div>
        <div class="row">
        {% endif %}
            <div id="e_{{ ct.basedID }}" class="col-lg-3 col-6 {{ mixer % 5 == 0 or mixer2 % 5 == 0 ? 'noGrayScale' : '' }} mb-2 px-1 px-sm-1 px-md-1 px-lg-1">
                <a href="{{ ct.fullURL is defined ? ct.fullURL : '' }}">
                    <img class="img-fluid img-thumbnail grid-item-thumb" src="/img/t/{{ ct.imagePath is defined ? ct.imagePath : ''}}" />
                </a>
            </div>
        {% if mod13 == 0 and not loop.last %}
        </div>
        <div class="row">
        {% endif %}
    {% endif %}
{% endfor %}
        </div>