<div class="w-100 p-3 mb-2 grid-head-box text-center">
    <h1>{{ contentSupply.filterCount|raw }} {{ contentSupply.filterContext }} for {{ contentSupply.tagContent.label }}</h1>
    <span class="text-muted">Looking for the best {{ contentSupply.tagContent.label }} {{ contentSupply.filterContext }}? We have over {{ contentSupply.filterCount|raw }} {{ contentSupply.filterContext }} picked by the community.</span>
</div>