{# @var contentSupply \AppBundle\Tools\Supply\Content #}
    <div class="container px-0">
        <div class="px-1">
            {% include 'tagPage/distributor.html.twig' %}
        </div>
        <div class="row no-gutters">
            {% include('default/sidebar.html.twig') %}
            <div class="col">
                <div class="col-12 px-1 mb-3">
                    {{ include('navigationHead/filterCrumb.html.twig') }}
                </div>
                <div id="infiniteBox-new" class="xcInfBox card-columns infinite-scroll">
                    {% include "/content/baseLoopCards.html.twig" ignore missing %}
                </div>
                {% if contentSupply.moreElements %}
                    <div class="col-12 text-center my-2">
                        <a id="linkLoadRecent-0" class="nextPagionationLink"
                           href="?page={{ contentSupply.nextPage }}&filter=0" rel="noindex, follow">
                            <button class="btn btn-primary col-12 col-sm-6">Load More</button>
                        </a>
                    </div>
                    <script>var link = document.getElementById("linkLoadRecent-0");
                        link.setAttribute('data-link', "{{ url("apiContentTagRelated") }}?tagID={{ contentSupply.tagContent.iD }}&page={{ contentSupply.nextPage }}&filter=0");
                        //link.style.display = 'none';</script>
                {% endif %}
            </div>
        </div>
    </div>
