<div class="col-12 text-center xcExoB mt-2">
    <script type="text/javascript" async>
        var ad_idzone = "{{ adIDZone }}",
            ad_width = "{{ adWidth }}",
            ad_height = "{{ adHeight }}";
    </script>
    <script type="text/javascript" src="https://ads.exdynsrv.com/ads.js" async></script>
    <noscript><a href="https://main.exdynsrv.com/img-click.php?idzone={{ adIDZone }}" target="_blank"><img
                    src="https://syndication.exdynsrv.com/ads-iframe-display.php?idzone={{ adIDZone }}&output=img&type={{ adWidth }}x{{ adHeight }}"
                    width="{{ adWidth }}" height="{{ adHeight }}"></a></noscript>
</div>