<div class="text-center mt-2 hidden-sm-down">
    <iframe style="background-color: white;" width="{{ adWidth }}" height="{{ adHeight }}" scrolling="no" frameborder="0"
            allowtransparency="true" marginheight="0" marginwidth="0" name="spot_id_{{ adIDZone }}"
            src="//ads2.contentabc.com/ads?spot_id={{ adIDZone }}&rand={{ adS_1 }}&ata={{ adS_2 }}"></iframe>
</div>
<div class="col-12 text-center mt-2 mb-0 hidden-md-up">
    <a href="https://www.pornhubpremium.com/premium_signup?ats={{ adS_3 }}"
       target="_blank">
        <img class="img-fluid" src="{{ asset('/public/img/banner-2.jpg') }}"/>
    </a>
</div>