{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block title %}DMCA Contact{% endblock %}

{% block meta %}
    <meta property="og:url" content="">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:site_name" content="{{ brand }}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="">
    <meta property="og:image:width" content="">
    <meta property="og:image:height" content="">

    <meta name="twitter:url" content="">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta property="article:author" content="{{ brand }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="">
{% endblock %}

{% block body %}
<div class="container px-2 text-white">
    <h1>DMCA Contact</h1>
    {{ form_start(form, {'action': path('staticContactDMCA'), 'attr': {'class': 'my-form-class'} }) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" class="btn btn-default" />
    {{ form_end(form) }}
    <div id="dmca" class="textbox mt-3">
        <h2>Intellectual Property</h2>
        <p>By uploading a file or other content or by making a comment, you represent and warrant to us that (1) doing so does not violate or infringe anyone else's rights; and (2) you created the file or other content you are uploading, or otherwise have sufficient intellectual property rights to upload the material consistent with these terms. With regard to any file or content you upload to the public portions of our site, you grant us a non-exclusive, royalty-free, perpetual, irrevocable worldwide license (with sublicense and assignment rights) to use, to display online and in any present or future media, to create derivative works of, to allow downloads of, and/or distribute any such file or content. To the extent that you delete any such file or content from the public portions of our site, the license you grant us pursuant to the preceding sentence will automatically terminate, but will not be revoked with respect to any file or content we have already copied and sublicensed or designated for sublicense. Also, of course, anything you post to a public portion of our site may be used by the public pursuant to the following paragraph even after you delete it.</p>
        <h2>USE OF CONTENT</h2>
        <p>By downloading an image or copying other user-generated content (UGC) from us, you agree that  you do not claim any rights to it. The following conditions apply:</p>
        <ul>
            <li>You may use UGC for personal, non-commercial purposes.</li>
            <li>You may use UGC for anything that qualifies as fair use under copyright law, for example journalism (news, comment, criticism, etc.), but please include an attribute of this domain next to where it is displayed.</li>
            <li>You may not use UGC for non-journalistic commercial purposes.</li>
            <li>Your use of UGC is at your own risk. WE MAKE NO WARRANTIES OF NON-INFRINGEMENT, and you will indemnify and hold us harmless from any copyright infringement claims arising out of your use of the UGC. (See our general disclaimers below.)</li>
        </ul>
        <p>You may not copy or use any portions of our site that are not UGC except within the limits of fair use.</p>
        <h2>NOTICES OF CLAIMED COPYRIGHT INFRINGEMENT (OR OTHER TYPES OF INFRINGEMENT)</h2>
        <p>If you see anything on our site that you believe infringes your copyright rights, you may notify our Digital Millennium Copyright Act ("DMCA") agent by sending the following information:</p>
        <ul>
            <li>Identification of the copyrighted work or works claimed to have been infringed. IMPORTANT: you must have a registered copyright for the work, or at least have filed with the Copyright Office (<a target="_blank" href="http://www.copyright.gov/eco/">http://www.copyright.gov/eco/</a>) an application to register a copyright for the work. DMCA notifications based on unregistered works are not valid.</li>
            <li>Identification of the material on our servers that is claimed to be infringing and that is to be removed, including the URL or other information to enable us to locate the material.</li>
            <li>A statement that you have a good faith belief that use of the material in the manner complained of is not authorized by you as copyright owner, or by your agent, or by law.</li>
            <li>A statement that the information in your notice is accurate, and under penalty of perjury, that you are the owner (or authorized to act on behalf of the owner) of the exclusive copyright right that is allegedly being infringed.</li>
            <li>Your physical or electronic signature, or of someone authorized to act on your behalf.</li>
            <li>Instructions on how we may contact you: preferably email, but also address and phone.</li>
        </ul>
        <p>Because a DMCA takedown notice, to be valid, must be based on a work for which the copyright is registered with the Copyright Office (or for which registration has been applied for), and because a high percentage of DMCA takedown notices are not valid. It will speed our investigation of your DMCA notice if you attach to it a copy of your copyright registration, or registration application, for the work.</p>
        <p>Our agent to receive such notifications of claimed infringement is Thomas Reiner.</p>
        <table>
            <tr>
                <td>Email:</td>
                <td><a href="mailto:dmca@mail.com">dmca@mail.com</a></td>
            </tr>
            <tr>
                <td>Mailing Address:</td>
                <td><p style="padding:0px;">OUR INC Inc.<br/>
                        Our Street<br/>
                        Our City</p></td>
            </tr>
        </table>
        <br/>
        <p>Use the same procedure for any claimed trademark violations or other infringements. If we receive a DMCA takedown demand for material you posted that we believe constitutes fair use, we will attempt to notify you if we have your contact info; otherwise we are under no obligation to notify you regarding the removal. We reserve the right to refuse to remove any material that in our view constitutes fair use. If we identify you as a "repeat infringer," we will block or remove your images and terminate any accounts you have with us. (If we notify you of a DMCA removal and you respond with a legitimate counter-notice, that won't count toward being a repeat infringer.) Keep in mind that we reserve the right to remove any content at any time whether or not it infringes or violates any of our policies.</p>
    </div>
</div>    
{% endblock %}